{% include 'header.html' %}
	<div class="text-content">
	  <form class="login" method="post" action="">
		{{ form.hidden_tag() }}
		<div class="form-group my-10">
			{{ form.email.label(class="form-label") }}
			{% if form.email.errors %}
				{{ form.email(class="form-control  is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.email.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
			{{ form.email(class="form-control") }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.password.label(class="form-label") }}
			{% if form.password.errors %}
				{{ form.password(class="form-control  is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.password.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
			{{ form.password(class="form-control") }}
			{% endif %}
		</div>
		<div class="form-check mt-3" style="font-size:1.2rem">
			{{ form.remember(class="form-check-input") }}
			{{ form.remember.label(class="form-check-label") }}
	  	</div>
		<span>{{ form.submit(class="btn btn-primary my-3 form-btn") }}</span>
		<p>Forgot <a href="{{url_for('users.reset_request')}}">Password</a> ? &ensp; Not a member? <a href="{{url_for('users.signup')}}">Signup now</a></p>
		</form>
	</div>
{% include 'footer.html' %}